.EndBar {
    width:'inherit';
    background-color: #232f3e;
    color: white;
    margin-top: 50px;
}

.list{
    text-align: start;
    list-style-type: none;
    margin: 40px;
}

h4{
    font-size: 20px;
}

li{
    font-size: 20px;
}

.img_bottom {
    height: 23px;
    width: 76px;
    margin-top: 30px;
    margin-right: 50px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #3a4553, #3a4553 , #3a4553);
}

.different_list{
    display: inline;
}

.ending_patah{
    padding: 30px;
}